* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#main {
  width: 100%;
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuqX3U4CsgJKOzUPs3Oq9gHo0lrOcTlbCDYg&s");
  background-size: cover;
  background-position: center;
  opacity: inherit;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: white;
}

#nav h2 {
  font-size: 25px;
  font-weight: 800;
}

#nav i {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

#full {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: -40%;
  background-color: rgba(232, 223, 223, 0.742);
  backdrop-filter: blur(10px);
  padding: 150px 60px;
}

#full h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

#full i {
  position: absolute;
  top: 5%;
  right: 8%;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}
