* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#main {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1509803874385-db7c23652552?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2xvdWQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: white;
}

#nav h2 {
  font-size: 25px;
  font-weight: 800;
}

#nav i {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

#full {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: -40%;
  background-color: rgba(184, 177, 177, 0.555);
  backdrop-filter: blur(10px);
  padding: 150px 60px;
}

#full h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

#full i {
  position: absolute;
  top: 5%;
  right: 8%;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}
